.box{
    border: 1px solid grey;
    box-shadow: 1px 1px 5px 1px #857b7b;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

/* .box{
   
    border: 1px solid grey;
    margin: 10px;
    box-shadow: 1px 2px 4px 1px gray;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    
} */